SKIP_PREFLIGHT_CHECK=true
# Twilio API credentials
# Found at https://www.twilio.com/user/account/settings
TWILIO_ACCOUNT_SID=AC9054eb81c29e01c049915c488a96d5a3
TWILIO_AUTH_TOKEN=fff6aae0b91f05658d867b744449e93b

# Twilio phone number
# Purchase one at https://www.twilio.com/user/account/phone-numbers
TWILIO_NUMBER=+19259657797

# App SID
# Found at https://www.twilio.com/console/voice/dev-tools/twiml-apps
TWILIO_TWIML_APP_SID=AP6dc9a11123740084e92faaa0e00cd50d